@using HomeMade_Burger.Areas.Admin.Models;
@model OrderListVM

@*<table class="table" id="list">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>
                <td>
                    <a class="btn btn-warning" onclick="">Update</a>
                    <a class="btn btn-danger" onclick="">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
